#Project Name: FluentForms and FluentForms Pro Addon
#FluentForms Version: 1.0
#FluentForms Pro Version: 1.0
#Project Version: 1.0

PROJECT_URL=""
WORDPRESS_USERNAME=""
WORDPRESS_PASSWORD=""

DELETE_EXISTING_FORM=""
DELETE_EXISTING_PAGE=""
#PAGE_AVAILABILITY=""
#FORM_AVAILABILITY=""

#Plugin Credentials
LICENSE_KEY=""

#Integrations API keys
MAILCHIMP_API_KEY=""
MAILCHIMP_LIST_NAME=""
MAILCHIMP_INTEREST_GROUP_NAME=""
MAILCHIMP_INTEREST=""
MAILCHIMP_AUDIENCE_ID=""
MAILCHIMP_SERVER_PREFIX=""

CAMPAIGNMONITOR_API_KEY=""
CAMPAIGNMONITOR_CLIENT=""
CAMPAIGNMONITOR_LIST=""

CONSTANT_CONTACT_ACCESS_KEY=""
CONSTANT_CONTACT_CLIENT_ID=""
CONSTANT_CONTACT_CLIENT_SECRET=""
CONSTANT_CONTACT_REFRESH_TOKEN=""
CONSTANT_CONTACT_LIST_NAME=""




PLATFORMLY_API_KEY=""
PLATFORMLY_PROJECT_ID=""

ZOHO_CLIENT_ID=""
ZOHO_SECRET_ID=""
ZOHO_REFRESH_TOKEN=""
ZOHO_ACCOUNT_URL=""


GETRESPONS_API_KEY=""

GOOGLE_SPREADSHEET_ID=""
GOOGLE_SHEET_NAME_AND_RANGE=""
GOOGLE_SHEET_NAME=""

SALSEFORCE_DOMAIN_URL=""
SALSEFORCE_CONSUMER_KEY=""
SALSEFORCE_CONSUMER_SECRET=""
SALSEFORCE_REFRESH_TOKEN=""

TRELLO_ACCESS_KEY=""
TRELLO_ACCESS_TOKEN=""
TRELLO_API_KEY=""
TRELLO_SECRET_KEY=""

ACTIVECAMPAIGN_API_URL=""
ACTIVECAMPAIGN_API_KEY=""

ZAPIER_WEBHOOK_URL=""

WEBHOOK=""

DRIP_API_TOKEN=""
DRIP_ACCOUNT_ID=""

SENDINBLUE_API_KEY=""
SENDINBLUE_LIST_NAME=""

ICONTACT_APPLICATION_KEY=""
ICONTACT_EMAIL=""
ICONTACT_API_PASSWORD=""
ICONTACT_ACCOUNT_ID=""
ICONTACT_CLIENT_FOLDER_ID=""
ICONTACT_CONTACT_LIST=""

CLICKSEND_NUMBER=""
CLICKSEND_USERNAME=""
CLICKSEND_API_KEY=""
CLICKSEND_LIST_ID=""

MOOSEND_API_KEY=""
MOOSEND_LIST_ID=""
MOOSEND_MAILING_LIST=""

SENDFOX_ACCESS_TOKEN=""
SENDFOX_LIST_NAME=""

# Turn off incentive email from the convertkit account, otherwise it will not return the subscribers
CONVERTKIT_API=""
CONVERTKIT_SECRET=""
CONVERTKIT_LIST=""

HUBSPOT_ACCESS_TOKEN=""


PIPEDRIVE_API=""
PIPEDRIVE_OWNER=""

MAILERLITE_API=""
MAILERLITE_GROUP=""

GETGIST_API=""

ONEPAGECRM_API_USER=""
ONEPAGECRM_API_KEY=""

AIRTABLE_ACCESS_TOKEN=""
AIRTABLE_BASE_ID=""
AIRTABLE_BASE_NAME=""
AIRTABLE_TABLE_NAME=""

MAILJET_API_KEY=""
MAILJET_SECRET_KEY=""

INSIGHTLY_API_KEY=""
INSIGHTLY_API_URL=""

SALSEFLARE_API_KEY=""

SLACK_WEBHOOK_URL=""
SLACK_TOKEN=""

TELEGRAM_BOT_TOKEN=""
TELEGRAM_CHANNEL_ID=""

DISCORD_WEBHOOK=""
DISCORD_CHANNEL_ID=""
DISCORD_BOT_TOKEN=""
