#Project Name: FluentForms and FluentForms Pro Addon
#FluentForms Version: 1.0
#FluentForms Pro Version: 1.0
#Project Version: 1.0

PROJECT_URL=""
WORDPRESS_USERNAME=""
WORDPRESS_PASSWORD=""

#Plugin Credentials
LICENSE_KEY=""

#Integrations API keys
MAILCHIMP_API_KEY=""
MAILCHIMP_AUDIENCE_ID=""

PLATFORMLY_API_KEY=""
PLATFORMLY_PROJECT_ID=""

